### 1. Python Basics

In [1]:
print("Hello, World!")

# Variables and data types
a = 10  # integer
b = 3.14  # float
c = "Python"  # string
d = True  # bool

# Printing the variables and their types
print(f"a: {a}, Type: {type(a)}") # f for string interpolation
print(f"b: {b}, Type: {type(b)}")
print(f"c: '{c}', Type: {type(c)}")
print(f"d: {d}, Type: {type(d)}")
print()

# Arithmetic operations
sum = a + b  
subtract = a - b 
product = a * b  
division = a / b
#//

# Comparison
is_equal = a == b  
# !=
# >=
# <=

# Bitwise
num1 = 4 # 100
num2 = 5 # 101
print(num1 & num2) # 100
print(num1 | num2) # 101

# Assignment
A = 5
A += 5

print()
print(f"Sum: {sum}")
print(f"Difference: {subtract}")
print(f"Product: {product}")
print(f"Division: {division}")
print(f"Is a equal to b? {is_equal}")
print(A)

Hello, World!
a: 10, Type: <class 'int'>
b: 3.14, Type: <class 'float'>
c: 'Python', Type: <class 'str'>
d: True, Type: <class 'bool'>

4
5

Sum: 13.14
Difference: 6.859999999999999
Product: 31.400000000000002
Division: 3.184713375796178
Is a equal to b? False
10

##### Hands-on: Simple Calculator Program

In [2]:
num1 = int(input("Enter number 1:"))
num2 = int(input("Enter number 2:"))
operator = input("Enter operator:")

if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
    print(num1 / num2)
else:
    print("Invalid operator")

69

### 2. Control Flow

In [ ]:
# Conditional statements
num = 10

if num > 0:
    print("Positive number")
    num += 10
    print(num)
elif num == 0:
    print("Zero")
else:
    print("Negative number")

In [3]:
a = 3
if a == 3:
    print(3)
else:
    print("Not 3")

# Ternary operator
# True statement if condition else false statement

ans = "3" if a == 3 else "Not 3"
print(ans)

3
3

In [ ]:
# Looping
num_range = [0, 1, 2, 3, 4]

for _ in range(0, 10):
    print("asd")

print()
counter = 5
while counter > 0:
    print(counter)
    counter -= 1

#### Hands-on: Basic number guessing game

In [ ]:
import random;

number = random.randint(0, 100)
print(number)

not_guessed = True

while(not_guessed):
    guess = int(input("Enter your guess:"))
    if guess == number:
        print('You guessed it')
        break
    
    if guess > number:
        print("Too high")
        continue
        print("random string")
    elif guess < number:
        print("Too low")

### 3. Functions and Modules

In [ ]:
# def add(a, b): 
#     return a + b

def add(a):
    if a == 1:
        return None
    elif a == 2:
        return "string"
    elif a == 3:
        return 3.0

result = add(1)
print("Sum:", result)

In [ ]:
import math

print("Ceiling of 4.2:", math.ceil(4.2))  
print("Floor of 4.8:", math.floor(4.8))   
print("Factorial of 5:", math.factorial(5)) 
print("Power of 2^3:", math.pow(2, 3)) 
print("Natural logarithm of 10:", math.log(10)) 
print("Sine of 90 degrees:", math.sin(math.radians(90)))

In [ ]:
import random

print("Random number between 1 and 100:", random.randint(1, 100))
print("Random float between 0 and 1:", random.random())  
print("Random choice from a list:", random.choice(['apple', 'banana', 'cherry']))
print("Shuffle a list:", random.shuffle([1, 2, 3, 4, 5]))

In [ ]:
import statistics
data = [2, 3, 5, 8, 5, 6, 7]

print("Mean:", statistics.mean(data)) 
print("Median:", statistics.median(data))
print("Mode:", statistics.mode(data))  
print("Variance:", statistics.variance(data))

#### Hands-on: Factorial

In [ ]:
def factorial(num):
    if(num > 1):
        return num * factorial(num-1)
    else:
        return 1
    
print(factorial(5))

#### Hands-on: Advanced Calculator

In [ ]:
num1 = int(input("Enter number 1:"))
num2 = int(input("Enter number 2:"))
operator = input("Enter operator:")

if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
    print(num1 / num2)
elif operator == "pow":
    print(num1 ** num2)
elif operator == "log":
    print(math.log(num1))
elif operator == "sqrt":
    print(math.sqrt(num1))
else:
    print("Invalid operator")

### 4. Data Structures

In [67]:
# Lists
# Creating a list
fruits = ["apple", "banana", "cherry", "mango", "jackfruit"]
#            0         1         2        3          4
#           -5        -4        -3       -2         -1
# Indexing
print(fruits[-4])

# Slicing
print(fruits[::])

# Append a new element
fruits.append("orange")
print("After appending:", fruits)

# Remove an element
fruits.remove("banana")
print("After removing banana:", fruits)

# Sort the list
fruits.sort(reverse=True)
print("Sorted fruits:", fruits)

banana
['apple', 'banana', 'cherry', 'mango', 'jackfruit']
After appending: ['apple', 'banana', 'cherry', 'mango', 'jackfruit', 'orange']
After removing banana: ['apple', 'cherry', 'mango', 'jackfruit', 'orange']
Sorted fruits: ['orange', 'mango', 'jackfruit', 'cherry', 'apple']

In [70]:
# Tuples
coordinates = (10, 20, 30)

# Accessing elements
# print("First coordinate:", coordinates[0])

# Tuples are immutable
# coordinates[0] = 100 
# coordinates

(20, 20, 30)

In [72]:
# Dictionary
person = {
    "name": "Naman",
    "age": 19,
    "city": "Thane",
}

# Accessing elements
print(person["age"])

# Adding a new key-value pair
person["email"] = "naman@example.com"
print(person)

# Updating an existing value
person["age"] = 20
print(person)

# Removing a key-value pair
del person["city"]
del person["email"]
print(person)

19
{'name': 'Naman', 'age': 19, 'city': 'Thane', 'email': 'naman@example.com'}
{'name': 'Naman', 'age': 20, 'city': 'Thane', 'email': 'naman@example.com'}
{'name': 'Naman', 'age': 20}

#### Hands-on: Word Occurrence Counter

In [75]:
text = "hello world hello everyone in this world"

words = text.split()

word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    
    else:
        word_count[word] = 1

word_count

{'hello': 2, 'world': 2, 'everyone': 1, 'in': 1, 'this': 1}

### 5. Introduction to Python Packages

In [76]:
# Numpy
import numpy as np

# Creating a Numpy array
arr = np.array([1, 2, 3, 4, 5])


# Basic operations on the array
arr_sum = arr + 5  
arr_product = arr * 2  

print("Original array:", arr)
print("Array after adding 5:", arr_sum)
print("Array after multiplying by 2:", arr_product)

Original array: [1 2 3 4 5]
Array after adding 5: [ 6  7  8  9 10]
Array after multiplying by 2: [ 2  4  6  8 10]

In [78]:
# Pandas
import pandas as pd

# Creating a simple DataFrame
data = {
    'Name': ['Aadee', 'Naman', 'Manavi', 'Abdulla'],
    'Age': [19, 19, 20, 20],
    'Salary': [65000, 70000, 60000, 58000]
}

df = pd.DataFrame(data)

# Displaying the DataFrame
print("Original DataFrame:")
print(df)

# Basic DataFrame operations
df['Age'] += 1
df['Salary_after_bonus'] = df['Salary'] * 1.1

print("DataFrame after operations:")
print(df)

Original DataFrame:
      Name  Age  Salary
0    Aadee   19   65000
1    Naman   19   70000
2   Manavi   20   60000
3  Abdulla   20   58000
DataFrame after operations:
      Name  Age  Salary  Salary_after_bonus
0    Aadee   20   65000             71500.0
1    Naman   20   70000             77000.0
2   Manavi   21   60000             66000.0
3  Abdulla   21   58000             63800.0

##### Hands-on: Simple DataFrame Creation and Operations

In [83]:
df = pd.read_csv("train.csv")
df.tail(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1450,1451,90,RL,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,136000
1451,1452,20,RL,78.0,9262,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,New,Partial,287090
1452,1453,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,145000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500